@mixin lineClamp ($line, $lineHeight) {
	height: calc(#{$lineHeight} * #{$line});
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}